
canvas { display: block; margin: auto auto; margin-top: 20px;
			border: 1px solid #444; box-shadow: inset 1px 1px 1px #333;
			background: rgb(93, 133, 93); }

#interfaz { width: 50%; margin: 0 auto; display: block; margin-top: 60px; }

button { background: #555;
    border: none;
    padding: 12px;
    box-shadow: 1px 2px 2px 1px #333;
    display: inline;
    margin-right: 30px;
    color: white;
    cursor: pointer;
}

button:hover {
	background: #122;
}

#cantidad {
	width: 90%;
}

#score {
    font-size: 172px;
}

#normal {
    float: right;
    color: #333;
    font-size: 90px;
}
